@charset "UTF-8";
/* CSS */

#header_nav {
    width: 100%;
    height: 90px;
    background: #245897 !important;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    display: flex;
    align-items: center;

}

#header_nav img {
    width: auto;
    height: 85%;
    align-self: center;
}

#header_nav a {
    color: white;
    align-self: center;
}

#header_nav a.logo {
    height: 97%;
    padding-top: 1%;
}

header a {
    text-decoration: none !important;
}

header .navbar a {
    color: white;   
}

header .navbar ul li {
    list-style:none;
    float: left;  
    text-align: center;
    width: 7em !important;   
}

.content {
    width:100%;
    height: 690px;
    padding: 3cm 3cm 0cm;
}

.principal {
    height: 690px;
}

footer {
    background: #0b295a;
    color: white;
    text-align: center;
    padding: .5% 0;
    
}


